<div id="login-wrapper" class="text-center">
  <!-- Your logo goes here -->
</div>
<% unless Rails.env == "production" %>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="alert alert-warning">
      <%= "This is a test environment (#{Rails.env})" %>
    </div>
  </div>
<% end %>
<div id="signup">

  <div class="container">
    <% if resource.errors.any? %>
      <div class="alert alert-danger">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    <% end %>
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <h3 class="text-center text-secondary pt-5">Sign up</h3>
            <hr>
            <div class="form-group">
              <%= f.label "First Name", class: "control-label" %>
              <%= f.text_field :first_name, {autofocus: true, class: "form-control", required: true} %>
            </div>

            <div class="form-group">
              <%= f.label "Last Name", class: "control-label" %>
              <%= f.text_field :last_name, {autofocus: true, class: "form-control", required: true} %>
            </div>
            <div class="form-group">
              <%= f.label "Email", class: "control-label" %>
              <%= f.email_field :email, {autofocus: true, class: "form-control", required: true} %>
            </div>
            <div class="form-group">
              <%= f.label :password,  class: "control-label" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, {class: "form-control", required: true, autocomplete: "new-password"} %>
            </div>
            <div class="form-group">
              <%= f.label :confrim_password,  class: "control-label" %>
              <%= f.password_field :confirm_password, {class: "form-control", required: true} %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "Sign up", {class: "btn btn-primary btn-bg", id: "sign_up"} %>
            </div>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div id="login-wrapper-footer" class="text-center">
    <div class="container text-center">
      <%= render "devise/shared/links" %>
    </div
  </div>
</footer>

<script type="text/javascript">
  $(document).ready(function () {
    $("#user_confirm_password").keyup(checkPasswordMatch);
  });

  function checkPasswordMatch() {
     var password = $("#user_password").val();
     var confirmPassword = $("#user_confirm_password").val();
     if (password != confirmPassword)
         $("#sign_up").prop('disabled', true);
     else
        $("#sign_up").prop('disabled', false);
  }
</script>
