<% unless user.blank? %>
  <tr id=<%= user.id %> >
    <td><%= user.id %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.approved == 1? "True" : "False" %></td>
    <td><%= user.confirmed_at %></td>
    <td style="text-align:center" id=approved-<%= user.id%>
      <div>
        <% if policy(User).show? %>
        <%= link_to 'Show', user_path(cl), { remote: true, "data-target" => "#modal-window",
          class: "btn btn-sm btn-primary"} %>
        <% end %>
        <% if policy(User).show_roles? %>
          <%= link_to "Roles", show_roles_path(user),  {
            remote: true,
            'data-target' => '#modal-window', 'class' => 'btn btn-primary btn-sm'} %>
        <% end %>
        <% if policy(User).approve_user? %>
          <%= render partial: "approved",  locals: {data: user} %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
