<% unless users.blank? %>
  <% users.each do |cl| %>
    <tr id=<%= cl.id %> >
      <td><%= cl.id %></td>
      <td><%= cl.first_name %></td>
      <td><%= cl.last_name %></td>
      <td><%= cl.email %></td>
      <td><%= cl.approved == 1? "True" : "False" %></td>
      <td><%= cl.confirmed_at %></td>
      <td style="text-align:center">
        <div>
          <% if policy(User).show? %>
            <%= link_to 'Show', user_path(cl),'class' => 'btn btn-primary btn-sm' %>
          <% end %>
          <% if policy(User).show_roles? %>
            <%= link_to "Roles", show_roles_path(cl),  {
              remote: true,
              'data-target' => '#modal-window', 'class' => 'btn btn-primary btn-sm'} %>
          <% end %>
          <% if policy(User).approve_user? %>
            <%= render partial: "approved",  locals: {data: cl} %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
