<div class="container">
  <div class="modal-content">
    <%= form_for @user, url: {action: "save_roles" }, method: "post", remote: true,
      html: { class: "edit_user_roles form-horizontal", id: "edit_user_roles_#{@user.id}" } do |f| %>
      <%#= f.hidden_field :lock_version %>
      <% new_role = heading_prefix == 'Edit' ? false : true %>
      <%#= hidden_field_tag("user[new_role]", new_role) %>
      <div class="modal-header">
        <h2><%= heading_prefix %> Location Roles<%= heading_prefix == 'Edit' ? ": #{@user.full_name}" : '' %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <%#= render partial: 'layouts/flash_messages', locals: {:context => :modal}  %> -->
      <div class="modal-body">

        <table class="table table-bordered table-hover table-striped" id="tblUserRoles">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Roles</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
          <span class="fa fa-calendar-alt"></span>
            <%= render partial: "user_roles", locals: {allroles: @allroles} %>
          </tbody>
        </table>

     </div>
      <div class="modal-footer">
        <div class="actions text-center">
          <%= f.submit submit_label, {class: "btn btn-success"} %>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
