  <% test = [] %>
  <% unless allroles.blank? %>
    <% allroles.each do |ar| %>
      <tr id=<%=ar.id %> >
        <td><%= ar.id %></td>
        <% unless  @existing_roles.blank? %>
          <% @existing_roles.each do |er| %>
            <% if er[0] == ar.id %>
              <% test << ar.id %>
              <td>
                <%= check_box_tag "user[role_ids][]", ar.id, (checked = true if er[0] == ar.id), class: "cbox" %>
                <%= label_tag ar.name, ar.name, class: "control-label" %>
              </td>
              <td>
                <%= text_field_tag("user[end_dates][#{ar.id}]",
                                  er[1], class: "form-control myflatpickr") %>
              </td>
            <% end %>
        <% end %>
      <% end %>
      <% unless  test.include? ar.id %>
        <td>
          <%= check_box_tag "user[role_ids][]", ar.id, false, class: "cbox" %>
          <%= label_tag ar.name, ar.name, class: "control-label" %>
        </td>
        <td>
          <%= text_field_tag("user[end_dates][#{ar.id}]",
                            nil, class: "form-control myflatpickr") %>
        </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>

<script type="text/javascript">
  flatpickr(".myflatpickr", {});
</script>
