<div id="login-wrapper" class="text-center">
  <!-- Your logo goes here -->
</div>
<% unless Rails.env == "production" %>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="alert alert-warning">
      <%= "This is a test environment (#{Rails.env})" %>
    </div>
  </div>
<% end %>
<div id="login">

  <div class="container">
    <%= render 'layouts/flash_messages' unless current_user  %>
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <h3 class="text-center text-secondary pt-5">Please Login</h3>
            <hr>
            <div class="form-group">
              <%= f.label "Email", class: "control-label" %>
              <%= f.email_field :email, {autofocus: true, class: "form-control", required: true} %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "control-label" %>
              <%= f.password_field :password, {autocomplete: "off", class: "form-control", required: true} %>
              </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <label for="user_remember_me" class="text-center">
                <%= f.check_box :remember_me %>
                Remember me
                </label>
              </div>
            <% end %>
            <div class="form-group text-center">
              <%= f.submit "Log in", {class: "btn btn-primary btn-bg"} %>
            </div>
          <% end %>
          <br>
          <div class="container text-center">
            <%= render "devise/shared/links" %>
          </div
        </div>
      </div>
    </div>
  </div>
</div>

<div id="login-wrapper-footer" class="text-center">
  <div class="container text-center">
    <%= render "devise/shared/links" %>
  </div
</div>
