<!-- Modal -->

<div class="modal-dialog  modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title" id="modalTilte">Add Item</h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <%= form_for(:item, remote: true, url: url, method: method, html: {class: 'form-horizontal'}) do |f| %>
        <%= f.hidden_field :lock_version %>
          <%= render partial: 'layouts/flash_messages', locals: {:context => :modal}  %>
          <div class="form-group required <%= @error_msg[:item_product].blank? ? "" : "has-error" %>">
            <%= f.label :item_product, class: "control-label col-md-2" %>
            <div class="col-md-5">
              <%= f.text_field :item_product, {autofocus: true, class: "form-control", required: true} %>
            </div>
          </div>
          <div class="form-group required <%= @error_msg[:item_number].blank? ? "" : "has-error" %>">
            <%= f.label :item_number, class: "control-label col-md-2" %>
            <div class="col-md-8">
              <%= f.text_field :item_number, {class: "form-control", required: true} %>
            </div>
          </div>
          <div class="form-group required <%= @error_msg[:finished_size].blank? ? "" : "has-error" %>">
            <%= f.label :finished_size, class: "control-label col-md-2" %>
            <div class="col-md-8">
              <%= f.text_field :finished_size, {class: "form-control", required: true} %>
            </div>
          </div>
          <div class="form-group required <%= @error_msg[:setup_price].blank? ? "" : "has-error" %>">
            <%= f.label :setup_price, class: "control-label col-md-2" %>
            <div class="col-md-8">
              <%= f.text_field :setup_price, {class: "form-control", type: "number", min: "0", required: true} %>
            </div>
          </div>
          <div class="form-group required <%= @error_msg[:unit_price].blank? ? "" : "has-error" %>">
            <%= f.label :unit_price, class: "control-label col-md-2" %>
            <div class="col-md-8">
              <%= f.text_field :unit_price, {class: "form-control", type: "number", min: "0", required: true} %>
            </div>
          </div>

          <div class="form-group required <%= @error_msg[:unit_price].blank? ? "" : "has-error" %>">
            <%= f.label :archived, class: "control-label col-md-2" %>
            <div class="col-md-8">
              <%= f.check_box :archived, :data => { :size=>'medium',
                 'on-color'=>'success', 'on-text'=> "#{t('yes').upcase}",
                  'off-text'=> "#{t('no').upcase}" } %>
            </div>
          </div>

          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-warning active">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
            </label>
            <label class="btn btn-warning" style="margin-left: 10px;">
              <input type="radio" name="options" id="option2" autocomplete="off"> Radio
            </label>
            <label class="btn btn-warning">
              <input type="radio" name="options" id="option3" autocomplete="off"> Radio
            </label>
          </div>

          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
            <input type="checkbox" checked autocomplete="off"> Checked
            </label>
          </div>

          <div class="form-group">
            <div class="col-md-12 col-md-offset-2">
              <span class="help-block"><span class="mandatory">*</span> denotes required field</span>
            </div>
          </div>

        <div class="modal-footer">
          <div class="actions col-md-12 text-center">
            <%= f.submit submit_label, {class: "btn btn-success"} %>
            <%= f.button 'Cancel', {class: "btn btn-info", "data-dismiss" => "modal", type: "button", id: "btnCancel"} %>
             <% if controller.action_name == "edit" %>
                <%= f.button 'Delete', {id: "delete", class: "btn btn-danger", "type" => "button", "data-toggle" => "collapse", "data-target" => "#confirm-delete-pane"} %>
               <div id="confirm-delete-pane" class="confirm-delete-pane collapse col-md-12 text-center">
                 <p>Please confirm that you want to delete item: <%= @item.item_product %></p>
                 <%= link_to 'Confirm Delete', item_path(@item.id),
                   {method: 'delete', remote: true, id: 'confirm-delete', class: 'btn btn-danger'} %>
               </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
