<%# this is trigger only after either update or show %>
<% unless item.blank? %>
<tr <tr style='background-color: #d4edda;' id=<%= item.id %> >
  <td><%= item.id %></td>
  <td><%= item.item_product %></td>
  <td><%= item.item_number %></td>
  <td><%= item.finished_size.blank? ? "" : item.finished_size %></td>
  <td style="text-align:right" ><%= item.setup_price %></td>
  <td style="text-align:right"><%= item.unit_price %></td>
  <td><%= item.created_by %></td>
  <td><%= item.updated_by %></td>
  <td style="text-align:center">
    <div>
      <% if policy(Item).show? %>
        <%= link_to 'Show',  item_path(item.id), {
          remote: true, "data-target" => "#modal-window",
          class: "btn btn-sm btn-primary"} %>
      <% end %>

      <% if policy(Item).update? %>
        <%= link_to 'Edit', edit_item_path(item.id), {
          remote: true, "data-target" => "#modal-window",
          class: "btn btn-sm btn-warning"} %>
      <% end %>
    </div>
  </td>
</tr>
<% end %>
