<% if current_user %>
<!--Side navigation bar  -->
  <!-- <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> -->
  <nav class="navbar navbar-inverse">
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
       <%= render partial: 'layouts/menu_user' if policy(User).index? %>
       <%= render partial: 'layouts/menu_item' if policy(Item).index? %>
       <%= render partial: 'layouts/menu_store' %>
       <%= render partial: 'layouts/menu_role_permission' if policy(Role).index? || policy(Permission).index? %>
       <%= render partial: 'layouts/menu_generate_quote' %>
     </ul>
   </div>
</nav>
<hr>

<% end %>
